@charset "UTF-8";

@font-face {
    font-family: vintage;
    src: url(../fonts/vintage.ttf);
}

:root {
    --cor1: #212426;
    --cor2: #010D00;
    --cor3: #595952;
    --cor4: #e0c9a0;
    --cor5: #590202;
}

* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    position: relative;
    z-index: -3;
}

header { 
    height: 40px;
    background-color: var(--cor2);
    display: flex;
    flex-direction: row;
}

#header {
    display: flex;
    width: 90%;
    max-width: 1500px;
    margin: auto;
    justify-content: space-between;
    align-items: center;
}

#logo {
    min-width: 300px;
    color: white;
    font-size: 30px; /* it was supposed to be 30px */
    text-transform: uppercase; /* set letters in caps lock */
    display: flex; /* made inside itens flexible */
    align-items: center; /* skew text on center */
}

#logo img {
    width: 60px;
}

#logo p {
    margin-left: 10px;
    min-width: 235px;
}

#botao-menu {
    display: none;
}



label[for='botao-menu'] {
    color: white;
    cursor: pointer;
    display: none;
}

nav {
    display: flex;
}

a {
    text-decoration: none;
    text-transform: uppercase;
    color: white;
    height: 70px;
    display: flex;
    align-items: center; /* centraliza na vertical */
    justify-content: center; /* centraliza na horizontal */
    padding: 0 10px 0 10px;
}

a:hover {
  background-color: rgb(150, 62, 80);  
} 

#banner {
    margin: auto;
    width: 100%;
    height: 400px;
    background-image: url("../images/first.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    z-index: -2;
}

#backgroundfilter {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-figure-small {
    color: white;
    font-size: 30px;
    text-transform: uppercase;
    font-weight: bold;
}

#text-figure-1 {
    border-bottom: 2px solid white;
    padding: 0 25px 10px 25px;
    text-align: center;
}

#text-figure-2 {
    color: white;
    text-transform: uppercase;
    font-size: 80px;
    margin: 5px 0 5px 0;
    text-align: center;
    font-family: vintage;
}

#text-figure-3 {
    border-top: 2px solid white;
    padding: 10px 25px 0 25px;
    text-align: center;
}

main {
    position: relative;
    top: -30px;
    width: 70%;
    max-width: 1500px;
    margin: 0 auto 50px auto;
    border-top: 3px solid var(--cor1);
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.322);
    background-color: white;
}

.main-section {
    width: 95%;
    max-width: 95%;
    margin: 30px auto 40px auto;
    height: auto;
}

.main-section h1 {
    margin-bottom: 50px;
    text-align: center;
}

#serviços {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

#serviços > div {
    width: 380px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 40px;
}

#serviços img {
    width: 150px;
    background-color: rgb(50,205,50);
    padding: 5px;
    border-radius: 50%;
}

#serviços img:hover {
    background-color: rgb(209, 230, 150);
}

#section-profissionais > h1 {
    top: 1px;
}
#profissionais {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#profissionais > div {
    width: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

#profissionais img {
    width: 200px;
    height: 300px;
    padding: 5px;
    border-radius: 8%;
}

#profissionais p {
    text-align: left;
    padding: 5px;
}

footer {
    background-color: #212426;
    height: 350px;
}

@media (max-width: 930px) {
    nav {
        flex-direction: column;
        position: absolute;
        width: 90%;
        top: 70px;
        margin-top: -200%;
        transition: all 0.1s;
        z-index: -1;
    }

    a {
        width: 100%;
        background-color: var(--cor2);
        padding: 0;
    }

    label[for='botao-menu'] {
        display: block;
    }

   #botao-menu:checked ~ nav {
    margin-top: 0;
   }
}